TesterClient_Console/Connected Services/InstrumentLockServiceFacadeClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/InstrumentLockServices" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAndDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
        <xs:element minOccurs="0" name="delayInSec" type="xs:int" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAndDelayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAndDelayResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intDivide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="intDivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDivideResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstrumentLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InstrumentLockServices" minOccurs="0" name="instr" type="q1:sharedInstrument" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstrumentLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInstrumentLockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseInstrumentLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InstrumentLockServices" minOccurs="0" name="instr" type="q2:sharedInstrument" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseInstrumentLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseInstrumentLockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProtocolLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InstrumentLockServices" minOccurs="0" name="protocol" type="q3:sharedProtocol" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProtocolLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProtocolLockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseProtocolLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InstrumentLockServices" minOccurs="0" name="protocol" type="q4:sharedProtocol" />
        <xs:element minOccurs="0" name="ThreadID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseProtocolLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseProtocolLockResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectedInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getConnectedInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>