TesterClient_WPF/Connected Services/InstrumentLockServiceFacadeClient/InstrumentLockServiceFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InstrumentLockServiceFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstrumentLockService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInstrumentLockServiceFacade_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_AddAndDelay_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAndDelay" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_AddAndDelay_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAndDelayResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_intDivide_InputMessage">
    <wsdl:part name="parameters" element="tns:intDivide" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_intDivide_OutputMessage">
    <wsdl:part name="parameters" element="tns:intDivideResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_intDivide_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/InstrumentLockService" name="detail" element="q1:MathFault" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getInstrumentLock_InputMessage">
    <wsdl:part name="parameters" element="tns:getInstrumentLock" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getInstrumentLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInstrumentLockResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getProtocolLock_InputMessage">
    <wsdl:part name="parameters" element="tns:getProtocolLock" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getProtocolLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProtocolLockResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getConnectedInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedInfo" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getConnectedInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IInstrumentLockServiceFacade">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/Add" message="tns:IInstrumentLockServiceFacade_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/AddResponse" message="tns:IInstrumentLockServiceFacade_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAndDelay">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/AddAndDelay" message="tns:IInstrumentLockServiceFacade_AddAndDelay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/AddAndDelayResponse" message="tns:IInstrumentLockServiceFacade_AddAndDelay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="intDivide">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/intDivide" message="tns:IInstrumentLockServiceFacade_intDivide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/intDivideResponse" message="tns:IInstrumentLockServiceFacade_intDivide_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInstrumentLockService/intDivideMathFaultFault" name="MathFaultFault" message="tns:IInstrumentLockServiceFacade_intDivide_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInstrumentLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/getInstrumentLock" message="tns:IInstrumentLockServiceFacade_getInstrumentLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/getInstrumentLockResponse" message="tns:IInstrumentLockServiceFacade_getInstrumentLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProtocolLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/getProtocolLock" message="tns:IInstrumentLockServiceFacade_getProtocolLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/getProtocolLockResponse" message="tns:IInstrumentLockServiceFacade_getProtocolLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConnectedInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/getConnectedInfo" message="tns:IInstrumentLockServiceFacade_getConnectedInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/getConnectedInfoResponse" message="tns:IInstrumentLockServiceFacade_getConnectedInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInstrumentLockServiceFacade" type="tns:IInstrumentLockServiceFacade">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IInstrumentLockService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAndDelay">
      <soap:operation soapAction="http://tempuri.org/IInstrumentLockService/AddAndDelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="intDivide">
      <soap:operation soapAction="http://tempuri.org/IInstrumentLockService/intDivide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MathFaultFault">
        <soap:fault use="literal" name="MathFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInstrumentLock">
      <soap:operation soapAction="http://tempuri.org/IInstrumentLockService/getInstrumentLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolLock">
      <soap:operation soapAction="http://tempuri.org/IInstrumentLockService/getProtocolLock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnectedInfo">
      <soap:operation soapAction="http://tempuri.org/IInstrumentLockService/getConnectedInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstrumentLockServiceFacade">
    <wsdl:port name="BasicHttpBinding_IInstrumentLockServiceFacade" binding="tns:BasicHttpBinding_IInstrumentLockServiceFacade">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>