TesterClient_WPF/Connected Services/InstrumentLockServiceFacadeClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InstrumentLockServiceFacade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IInstrumentLockServiceFacade_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/InstrumentLockServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInstrumentLockServiceFacade_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_AddAndDelay_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAndDelay" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_AddAndDelay_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAndDelayResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_intDivide_InputMessage">
    <wsdl:part name="parameters" element="tns:intDivide" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_intDivide_OutputMessage">
    <wsdl:part name="parameters" element="tns:intDivideResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_intDivide_MathFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/InstrumentLockServices" name="detail" element="q1:MathFault" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getInstrumentLock_InputMessage">
    <wsdl:part name="parameters" element="tns:getInstrumentLock" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getInstrumentLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInstrumentLockResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_releaseInstrumentLock_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseInstrumentLock" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_releaseInstrumentLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseInstrumentLockResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getProtocolLock_InputMessage">
    <wsdl:part name="parameters" element="tns:getProtocolLock" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getProtocolLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProtocolLockResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_releaseProtocolLock_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseProtocolLock" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_releaseProtocolLock_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseProtocolLockResponse" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getConnectedInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedInfo" />
  </wsdl:message>
  <wsdl:message name="IInstrumentLockServiceFacade_getConnectedInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConnectedInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IInstrumentLockServiceFacade">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/Add" message="tns:IInstrumentLockServiceFacade_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/AddResponse" message="tns:IInstrumentLockServiceFacade_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAndDelay">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/AddAndDelay" message="tns:IInstrumentLockServiceFacade_AddAndDelay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/AddAndDelayResponse" message="tns:IInstrumentLockServiceFacade_AddAndDelay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="intDivide">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/intDivide" message="tns:IInstrumentLockServiceFacade_intDivide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/intDivideResponse" message="tns:IInstrumentLockServiceFacade_intDivide_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IInstrumentLockService/intDivideMathFaultFault" name="MathFaultFault" message="tns:IInstrumentLockServiceFacade_intDivide_MathFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInstrumentLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/getInstrumentLock" message="tns:IInstrumentLockServiceFacade_getInstrumentLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/getInstrumentLockResponse" message="tns:IInstrumentLockServiceFacade_getInstrumentLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="releaseInstrumentLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/releaseInstrumentLock" message="tns:IInstrumentLockServiceFacade_releaseInstrumentLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/releaseInstrumentLockResponse" message="tns:IInstrumentLockServiceFacade_releaseInstrumentLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProtocolLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/getProtocolLock" message="tns:IInstrumentLockServiceFacade_getProtocolLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/getProtocolLockResponse" message="tns:IInstrumentLockServiceFacade_getProtocolLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="releaseProtocolLock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/releaseProtocolLock" message="tns:IInstrumentLockServiceFacade_releaseProtocolLock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/releaseProtocolLockResponse" message="tns:IInstrumentLockServiceFacade_releaseProtocolLock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConnectedInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstrumentLockService/getConnectedInfo" message="tns:IInstrumentLockServiceFacade_getConnectedInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstrumentLockService/getConnectedInfoResponse" message="tns:IInstrumentLockServiceFacade_getConnectedInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IInstrumentLockServiceFacade" type="tns:IInstrumentLockServiceFacade">
    <wsp:PolicyReference URI="#NetTcpBinding_IInstrumentLockServiceFacade_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAndDelay">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/AddAndDelay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="intDivide">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/intDivide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MathFaultFault">
        <soap12:fault use="literal" name="MathFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInstrumentLock">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/getInstrumentLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseInstrumentLock">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/releaseInstrumentLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProtocolLock">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/getProtocolLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseProtocolLock">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/releaseProtocolLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConnectedInfo">
      <soap12:operation soapAction="http://tempuri.org/IInstrumentLockService/getConnectedInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InstrumentLockServiceFacade">
    <wsdl:port name="NetTcpBinding_IInstrumentLockServiceFacade" binding="tns:NetTcpBinding_IInstrumentLockServiceFacade">
      <soap12:address location="net.tcp://localhost:8001/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>AMR\chiangch</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>